* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #010043;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #829985;
}

.main {
    background-color: cornsilk;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    transition:  .9s;
    
}

.nav-link:hover {
    opacity: 0.3;
    text-transform: uppercase;
    text-shadow: 1px 1px;
    
}

.main-comtainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    
}

.section {
    border-bottom: 1px solid #829985;
}

.section-title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #021004;
    padding-top: 20px;
  }

  .section-subtitle {
    color: #010043;
    padding: 20px;
  }

  .img {
      max-width: 400px;
      width: 100%;
      max-height: 400px;
      border-radius: 50%;
      grid-column: 1/2;
      grid-row: 1/3;
      margin: 40px;
  }

  .profile-title {
      grid-row: 1/2;
      grid-column: 2/3;
      text-align: center;
      text-transform: uppercase;
      position: relative;
  }

  .profile-title::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 150px;
      background-color: #829985;
      bottom: -19px;
      left: 50%;
      margin-left: -70px;
  }

  .section-profile {
      display: grid;
      grid-column: 1/3;
      grid-template-rows: 1fr 1fr;
      justify-content: space-around;
      align-items: center;
      border-bottom: 10px solid #829985;
  }
  
  .profile-subtitle {
    grid-row: 2/3;
    grid-column: 2/3;
    text-transform: uppercase;
    align-self: start;
  }

  .section-list {
      list-style: none;
      padding: 20px;
  }

  .section-link {
      text-decoration: none;
      color: #010043;
      transition: .9s;
  }

  .section-link:hover {
      text-decoration: underline;
  }

  .section-image {
      width: 24px;
      height: 24px;
      margin-right: 10px;
  }

  .section-list_type {
      list-style-type: disclosure-closed;
      padding: 20px;
  }

  .footer {
      padding: 20px;
      background-color: #829985;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .footer-icon{
        max-width: 121px;
        max-height: 45px;
        width: 100%;
  }

  @media (max-width: 1220px){
    .body{
        font-weight: 300;
        font-size: 16px;
    }
    .img {
        max-width: 300px;
        max-height: 300px;
    }
    .section-code {
        font-size: 12px;
    }
  }

  @media (max-width: 920px) {
      .img {
          max-width: 200px;
          max-height: 200px;
      }
      .section-code {
          font-size: 8px;
      }
  }

@media (max-width: 768px) {

    .section-title {
        font-size: 16px;
    }
}

